
.AnchorPane{
    -fx-background-color: transparent;
    -fx-background-color: rgba(108, 175, 170, 0);
}

.skillPane{
    -fx-background-color: rgba(102, 175, 170);
}

.statWindow{
    -fx-background-color: transparent;
    -fx-background-color: rgba(108, 175, 170, 0.9);
    -fx-border-color: rgb(4, 111, 135);
    -fx-border-width: 4;
    -fx-border-radius: 1;
}

.manaBar{
    -fx-control-inner-background: rgba(0,0,0,0.8);
}
.manaBar .bar{
    -fx-background-color: transparent, linear-gradient(to right, royalblue, aquamarine );
}
.manaBar .track{
    -fx-background-radius: 3;
    -fx-background-color: rgba(0,0,0,0.9);

}

.healthBar{
    -fx-control-inner-background: rgba(0,0,0,0.8);
}
.healthBar .bar{
    -fx-background-color: transparent, linear-gradient(to right, darkred, lightcoral);
}
.healthBar .track{
    -fx-background-radius: 3;
    -fx-background-color: rgba(0,0,0,0.9);
}

.aaPane{
    -fx-background-color: rgba(23, 175, 170);
}
.icons{
    -fx-background-color: rgba(56, 175, 170);
    -fx-border-color: rgb(4, 111, 135);
    -fx-border-width: 2;
    -fx-border-radius: 1;
}

.textOutline{
    -fx-stroke: black;
    -fx-stroke-width: 4px;
}