

.button{
    -fx-background-color: #9d0505;
    -fx-border-radius:3px;
    -fx-display:inline-block;
    -fx-cursor:pointer;
    -fx-color:#000000;
    -fx-font-family:Arial;
    -fx-font-size:15px;
    -fx-padding:9px 23px;
    -fx-text-decoration:none;
}

.button:hover{
    -fx-background-color: #f10b0b;
    -fx-cursor:pointer;
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
    -fx-font-size:14px;
}

.button:pressed{
    -fx-background-color: #ea6010;
}

.TitledPane{
    -fx-cursor:pointer;
}

.AnchorPane{
    -fx-background-color: transparent;
    -fx-background-color: rgba(108, 175, 170, 0.95);
    -fx-border-color: rgb(4, 111, 135);
    -fx-border-width: 4;
    -fx-border-radius: 1;
}